:root{
    --color-button: #0061ff ;
    --color-button-hover: #0057e5;
    --color-white: #fff ;
    --color-white-hover: #f2eee8 ;
    --color-black: #000 ;
    --color-secondary: #b4d0e7 ;

    /* color companies */

    --color--comp-1: #a2d39b ;
    --color-comp-1-bord: #d1e9cd ;
    --color--comp-2: #61082b ;
    --color--comp-2-bord: #d3115c ;
    --color--comp-3: #0093ce ;
    --color--comp-3-bord: #00aef4 ;
    --color--comp-4: #ff1c1c ;
    --color--comp-4-bord: #b21313 ;
    --color--comp-5: #d5001f ;
    --color--comp-5-bord: #880013 ;
    --color--comp-6: #b4d0e7 ;
    --color--comp-6-bord: #8ca2b3 ;
    --color--comp-7: #0d2481 ;
    --color--comp-7-bord: #050e34 ;
    --color--comp-8: #ffd830 ;
    --color--comp-8-bord: #ccac26 ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/* flex utility */

.f-row{
    display: flex;
    flex-flow: row wrap;
}

.f-column{
    display: flex;
    flex-flow: column wrap;
}

.f-between{
    justify-content: space-between;
}

.f-center{
    justify-content: center;
    align-items: center;
    align-content: center;
}

.f-start{
    align-items: flex-start;
    align-content: flex-start;
}

/* content utility */

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: var(--color-black);
}

.big-container{
    max-width: 1200px;
    margin: 0 auto;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.btn{
    padding: 10px 20px;
    background-color: var(--color-button);
    color: var(--color-white);
}

.white-btn{
    padding: 10px 20px;
    background-color: var(--color-white);
    color: var(--color-black);
    border: 1px solid var(--color-black);
}

.white-btn:hover{
    background-color: var(--color-white-hover);
}

.btn:hover{
    background-color: var(--color-button-hover);
}

a{
    cursor: pointer;
    text-decoration: none;
}

/* content */

/* header */

.head-wrapper{
    position: fixed;
    top: 0;
    padding: 0 20px;
    background-color: var(--color-white);
    width: 100%;
    z-index: 1000;
    box-shadow: 0 1px 5px rgb(51, 51, 51);
}

.logo:hover{
    background-color: transparent;
}

.logo{
    padding-left: 0;
    height: 100%;
}

header a {
    color: var(--color-black);
    padding: 20px 20px 10px;
    display: inline-block;
}

header a:hover{
    background-color: var(--color-white-hover);
}

.head-wrapper .btn{
    padding: 10px 20px;
    background-color: var(--color-button);
    color: var(--color-white);
    align-self: center;
}

.head-wrapper .head-hover:hover > .hov{
    display: flex;
}

.head-wrapper .hov{
    position: absolute;
    top: 55px;
    display: none;
    z-index: 1000;
    background-color: var(--color-white-hover);
    padding: 20px;
    box-shadow: 0 5px 5px rgba(51, 51, 51, 0.5);
}

.head-wrapper .hov ul{
    list-style: none;
}

.head-wrapper .hov ul li{
    padding: 10px 50px 10px 10px;
}

.head-wrapper .hov ul li:hover{
    background-color: #e7e0d7;
}

/* main */

.mg-top{
    margin-top: 150px;
}

main h2{
    font-size: 2.5em;
    font-weight: 800;
}

/* inizio hero */

.hero-container{
    padding-top: 150px;
    background-color: var(--color-secondary);
}

.hero h1{
    font-size: 5em;
    font-weight: 800;
}

.hero-left{
    width: 30%;
    position: relative;
}

.hero-right{
    width: 70%;
    text-align: right;
}

.hero img{
    width: 90%;
    position: relative;
    top: 60px;
}

.hero p{
    padding: 60px 0 30px;
}

.hero span{
    display: block;
    margin-top: 30px;
}

.arrow{
    font-size: 3em;
    color: var(--color-black);
    position: absolute;
    left: 0;
    bottom: 0;
}

/* fine hero */

/* inizio prima section */

    #first-section input{
        margin-top: 50px;
    }

    #first-section label{
        padding-right: 30px;
        padding-bottom: 40px;
        display: inline-block;
    }

    #first-section>div{
        flex-wrap: nowrap;
    }

    .piano{
        padding: 20px 40px 40px 40px;
    }

    .piano-container{
        border: 1px solid #dadadb;
    }

    .piano-container.middle{
        margin: 0 20px;
    }

    .piano-container h3{
        border-bottom: 1px solid #dadadb;    
        text-align: center;
        padding: 10px;
    }

    .piano *, .piano .btn{
        display: block;
        padding-top: 20px;
    }

    .piano .btn{
        padding-top: 10px;
        margin-top: 10px;
    }

    .piano li i{
        color: var(--color-button);
    }

    .piano .text-grey{
        color: #666;
    }

    .piano .indent{
        text-indent: -0.6em;
        padding-left: 1em;
    }

    .piano ul{
        padding: 0;
    }

    .piano i, .bord-bot{
        display: inline-block;
    }

    .piano a{
        display: inline-block;
        text-decoration: underline;
        color: var(--color-button);
    }

    .piano .btn{
        color: var(--color-white);
        text-align: center;
        text-decoration: none;
    }

    .piano .bord-bot{
        border-bottom: 1px solid #dadadb;
        padding-bottom: 50px;
    }

    .piano .salienti{
        margin-top: 30px;
    }

    #team-btn{
        display: inline-block;
    }

    .piano .f-row{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
    }

    .long-piano-container{
        margin: 20px 0;
    }

    .long-piano h2, .long-piano div{
        padding-top: 0;
    }

    .long-piano .left-between{
        width: 70%;
    }

    .first-sec-bottom{
        margin-top: 100px;
    }

    .first-sec-bottom .img-cont{
        width: 60%;
    }

    .first-sec-bottom .text-cont{
        width: 30%;
    }

    .first-sec-bottom img{
        width: 100%;
    }

    .first-sec-bottom h3{
        font-size: 2em;
    }

    .first-sec-bottom .text-cont *{
        margin: 20px 0;
    }

/* fine prima section */

/* inizio seconda section */

#second-section .card-container{
    width: calc(100% / 3);
    padding: 25px;
    min-width: 320px;
}

#second-section .card *{
    margin-top: 20px;
}

#second-section .card img{
    width: 100%;
}

#second-section .card h3{
    font-size: 1.8em;
}

/* fine seconda section */

/* inizio terza section */

#third-section h2{
    width: 60%;
}

#third-section a{
    color: var(--color-button);
    text-decoration: underline;
    padding-top: 30px;
    display: block;
}

/* fine terza section */

/* inizio quarta section */

#fourth-section .comp-wrapper{
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

#fourth-section .company{
    width: 50%;
    height: 50%;
}

#fourth-section .company img{
    width: 60%;
    fill: var(--color-white);
}

#fourth-section .company img{
    filter: invert(100%)
}

#fourth-section .company:hover{
  cursor: pointer;
}
/* colori compagnie (con hover) */

.company#comp-1{
    background-color: var(--color--comp-1);
}

.company#comp-1:hover{
    border: 10px solid var(--color-comp-1-bord);
}
 
.company#comp-2{
    background-color: var(--color--comp-2);
}

.company#comp-2:hover{
    border: 10px solid var(--color--comp-2-bord);
}
 
.company#comp-3{
    background-color: var(--color--comp-3);
}

.company#comp-3:hover{
    border: 10px solid var(--color--comp-3-bord);
}
 
.company#comp-4{
    background-color: var(--color--comp-4);
}

.company#comp-4:hover{
    border: 10px solid var(--color--comp-4-bord);
}
 
.company#comp-5{
    background-color: var(--color--comp-5);
}

.company#comp-5:hover{
    border: 10px solid var(--color--comp-5-bord);
}
 
.company#comp-6{
    background-color: var(--color--comp-6);
}

.company#comp-6:hover{
    border: 10px solid var(--color--comp-6-bord);
}
 
.company#comp-7{
    background-color: var(--color--comp-7);
}

.company#comp-7:hover{
    border: 10px solid var(--color--comp-7-bord);
}
 
.company#comp-8{
    background-color: var(--color--comp-8);
}

.company#comp-8:hover{
    border: 10px solid var(--color--comp-8-bord);
}

/* fine colori compagnie */

#fourth-section .comp-center{
    padding: 60px;
    background-color: #f5f5f5;
    overflow-y: auto;
}

#fourth-section .comp-center img{
    width: 50%;
    margin-bottom: 50px;
    min-width: 160px;
}

#fourth-section .comp-center p{
    padding: 50px 0;
}

#fourth-section .hr{
    width: 20%;
    border-bottom: 1px solid #666;
}

/* fine quarta section */

/* inizio quinta section */

#fifth-section{
    background-color: var(--color-secondary);
    padding: 100px 0;
}

#fifth-section h2{
    color: #61082b;
    width: 50%;
}

#fifth-section a{
    border: transparent;
    display: block;
    width: 30%;
    text-align: center;
}

/* fine quinta section */

/* inizio sesta section */

#sixth-section h2+.faq-wrapper{
    margin-top: 40px;
    border-top: 1px solid #666;
}

#sixth-section .faq-wrapper{
    border-bottom: 1px solid #666;
}

#sixth-section .question{
    font-weight: bold;
    cursor: pointer;
    padding: 40px 0;
    font-size: 1.2em;
}

#sixth-section p{
    padding: 0 0 30px 1.5em;
    margin-top: -25px;
    display: none;
}

#sixth-section .question {
    display: inline-block;
}
  
#sixth-section .fa-solid.fa-angle-down {
   margin-left: 25%;
   display: inline-block;
   transition: 0.2s;
}

#sixth-section .faq-wrapper:hover{
    background-color: var(--color-white-hover);
}
 
#sixth-section .faq-wrapper:hover > .fa-solid.fa-angle-down{
   transform: rotate(90deg);
}

#sixth-section .faq-wrapper:hover > p{
    display: block;
}

/* fine sesta section */

/* footer */

footer{
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 100px 0 50px;
}

.foot-top h3{
    font-size: 1.7em;
    padding-bottom: 25px;
}

.foot-top ul{
    list-style: none;
}

.foot-top a{
    display: block;
    color: var(--color-white);
    text-decoration: none;
    padding-bottom: 10px;
}

.foot-top a:hover{
    text-decoration: underline;
}

footer .hr{
    border-bottom: 1px solid var(--color-white);
    width: 8%;
    margin: 100px 0 40px;
}

.foot-bottom select{
    border: none;
    background-color: var(--color-black);
    color: var(--color-white);
    padding-left: 5px;
}