:root{
    --color-button: #0061ff ;
    --color-button-hover: #0057e5;
    --color-white: #fff ;
    --color-white-hover: #f2eee8 ;
    --color-black: #000 ;
    --color-secondary: #b4d0e7 ;

    /* color companies */

    --color--comp-1: #a2d39b ;
    --color-comp-1-bord: #d1e9cd ;
    --color--comp-2: #61082b ;
    --color--comp-2-bord: #d3115c ;
    --color--comp-3: #0093ce ;
    --color--comp-3-bord: #00aef4 ;
    --color--comp-4: #ff1c1c ;
    --color--comp-4-bord: #b21313 ;
    --color--comp-5: #d5001f ;
    --color--comp-5-bord: #d5001f ;
    --color--comp-6: #b4d0e7 ;
    --color--comp-6-bord: #8ca2b3 ;
    --color--comp-7: #0d2481 ;
    --color--comp-7-bord: #0d2481 ;
    --color--comp-8: #ffd830 ;
    --color--comp-8-bord: #ccac26 ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* flex utility */

.f-row{
    display: flex;
    flex-flow: row wrap;
}

.f-column{
    display: flex;
    flex-flow: column wrap;
}

.f-between{
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}

.f-center{
    justify-content: center;
    align-items: center;
    align-content: center;
}

.f-start{
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

/* content utility */

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: var(--color-black);
}

.big-container{
    max-width: 1200px;
    margin: 0 auto;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.btn{
    padding: 10px 20px;
    background-color: var(--color-button);
    color: var(--color-white);
}

.btn:hover{
    background-color: var(--color-button-hover);
}

a{
    cursor: pointer;
    text-decoration: none;
}

/* content */

/* header */

.head-wrapper{
    position: fixed;
    top: 0;
    padding: 20px;
    background-color: var(--color-white);
    width: 100%;
    z-index: 1000;
    box-shadow: 0 1px 5px rgb(51, 51, 51);
}

.logo:hover{
    background-color: var(--color-white);
}

.logo{
    vertical-align: middle;
    padding-left: 0;
}

header a {
    vertical-align: middle;
    color: var(--color-black);
    padding: 10px 20px;
}

header a:hover{
    background-color: var(--color-white-hover);
}

/* main */

main{
    
}

/* inizio hero */

.hero-container{
    padding-top: 150px;
    background-color: var(--color-secondary);
}

.hero h1{
    font-size: 5em;
    font-weight: 800;
}

.hero-left{
    width: 30%;
    position: relative;
}

.hero-right{
    width: 70%;
    text-align: right;
}

.hero img{
    width: 90%;
    position: relative;
    top: 60px;
}

.hero p{
    padding: 60px 0 30px;
}

.hero span{
    display: block;
    margin-top: 30px;
}

.arrow{
    font-size: 3em;
    color: var(--color-black);
    position: absolute;
    left: 0;
    bottom: 0;
}

/* fine hero */

/* inizio prima section */

    .first-section{
        padding-top: 150px;
    }

    section h2{
        font-size: 2em;
    }

    .first-section input{
        margin-top: 50px;
    }

    .first-section label{
        padding-right: 30px;
        padding-bottom: 40px;
        display: inline-block;
    }

    .first-section>div{
        flex-wrap: nowrap;
    }

    .piano{
        padding: 20px 40px 40px 40px;
    }

    .piano-container{
        height: 1011px;
        border: 1px solid #dadadb;
    }

    .piano-container.middle{
        margin: 0 20px;
    }

    .piano-container h3{
        border-bottom: 1px solid #dadadb;    
        text-align: center;
        padding: 10px;
    }

    .piano *, .piano .btn{
        display: block;
        padding-top: 20px;
    }

    .piano .btn{
        padding-top: 10px;
        margin-top: 10px;
    }

    .piano li i{
        color: var(--color-button);
    }

    .piano ul{
        padding: 0;
    }

    .piano i, .bord-bot{
        display: inline-block;
    }

    .piano a{
        display: inline-block;
        text-decoration: underline;
        color: var(--color-button);
    }

    .piano .btn{
        color: var(--color-white);
        text-align: center;
        text-decoration: none;
    }

    .piano .bord-bot{
        border-bottom: 1px solid #dadadb;
        padding-bottom: 50px;
    }

    .piano .salienti{
        margin-top: 30px;
    }

/* fine prima section */

/* footer */